<div fxLayout="row" fxLayoutAlign="center center">
  <div>
    <mat-form-field floatLabel="never" class="filter">
      <input
        matInput
        #filter
        placeholder="hashtag"
        [matAutocomplete]="hashtagsAuto"
      />
      <span matPrefix>#</span>

      <button
        mat-icon-button
        matSuffix
        (click)="filter.value = ''; clear()"
        *ngIf="filter.value"
      >
        <mat-icon> clear </mat-icon>
      </button>

      <mat-autocomplete
        #hashtagsAuto="matAutocomplete"
        (optionSelected)="filterTweets($event.option.value)"
      >
        <mat-option *ngFor="let hashtag of hashtags$ | async" [value]="hashtag">
          {{ hashtag }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="tweets-container">
    <div>
      <mat-spinner *ngIf="loading$ | async"></mat-spinner>
      <cdk-virtual-scroll-viewport [itemSize]="tweetsCount$ | async" class="tweets-scroll-container">
        <div *cdkVirtualFor="let tweet of filteredTweets$ | async as list">
          <mat-card class="tweet-container">
            <mat-card-header>
              <div mat-card-avatar *ngIf="tweet.user">
                <img
                  [src]="tweet.user.profile_image_url"
                  [alt]="'Photo of ' + tweet.user.name"
                />
              </div>
              <mat-card-title>{{ tweet.user?.name }}</mat-card-title>
              <mat-card-subtitle
                >{{ tweet.timestamp_ms | date: "medium" }} -
                {{ tweet.place?.country }}
                <b>{{ getHastTags(tweet) }}</b>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{ tweet.text }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
